#customize-control-spice_cookies_fontsize, #customize-control-spice_cookies_fontweight, #customize-control-spice_cookies_fontstyle, #customize-control-spice_cookies_transform
{
    width: 48%;
    clear: none;
    padding-right: 5px;
}
#customize-control-spice_btn_fontsize, #customize-control-spice_btn_fontweight, #customize-control-spice_btn_fontstyle, #customize-control-spice_btn_transform
{
    width: 48%;
    clear: none;
    padding-right: 5px;    
}